body {
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-nav .nav-link:active {
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s ease;

}

.dropdown-menu .dropdown-item:active {
    color: #333;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;
}

/*.banner-img {*/
/*    width: 100vw;*/
/*    height: 45vh;*/
/*    background-size: 120%;      !* ← this creates the zoom-out effect *!*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

.banner-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner-img {
    width: 101%;
    height: 140%;
    object-fit: cover;
    object-position: center;
    overflow: hidden
}

.product-card {
    max-width: 280px;
    border: 1px solid #eee;
    transition: box-shadow 0.2s ease;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    cursor: pointer;
}

.product-image {
    height: 180px;
    object-fit: contain;
    padding: 10px;
}

.card-title, .card-text {
    font-size: 0.9rem;
}




