body {
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Light gray background */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-nav .nav-link:active {
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.08); /* Slightly darker hover for dropdowns */
    transition: background-color 0.2s ease;

}

.dropdown-menu .dropdown-item:active {
    color: #333;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease;
}

/*.banner-img {*/
/*    width: 100vw;*/
/*    height: 45vh;*/
/*    background-size: 120%;      !* ← this creates the zoom-out effect *!*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

.banner-wrapper {
    width: 100%;
    height: 300px;       /* fixed height */
    overflow: hidden;    /* hide excess image */
}

.banner-img {
    width: 101%;             /* slightly wider than container */
    height: 140%;            /* maintain aspect ratio */
    object-fit: cover;       /* fill height without stretching */
    object-position: center; /* center crop */
    overflow: hidden
}






/*.banner-img img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

/*.banner-img {*/
/*    width: 100vw;*/
/*    height: 45vh;*/
/*    background-size: 120%;      !* ← this creates the zoom-out effect *!*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/

.banner-wrapper {
    width: 100%;
    height: 300px;       /* fixed height */
    overflow: hidden;    /* hide excess image */
}

.banner-img {
    width: 101%;             /* slightly wider than container */
    height: 140%;            /* maintain aspect ratio */
    object-fit: cover;       /* fill height without stretching */
    object-position: center; /* center crop */
    overflow: hidden
}






/*.banner-img img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
